<header class="top_header">
    <h1 class="top_left_logo">Instagram Popular</h1>
    <nav class="top_nav_controls">
        <h2 id="popular" class="button button_active">POPULAR</h2>
        <h2 id="trending" class="button">TRENDING</h2>
        <h2 id="recent" class="button">RECENT</h2>
        <input id="search" name="search" size="30" type="text" value="SEARCH" />
    </nav>
    <div class="loading">
        <%= image_tag "ajax-loader.gif" %>
    </div>
</header>
<section class="center_content">
</section>
