<section class="picture_container">
    <img src="{{low_resolution_url}}">
    <figcaption class="picture_comment">
        {{caption}}
    </figcaption>
</section>
<footer class="picture_footer">
    <div class="picture_username">
        {{username}}
    </div>
    <div class="picture_counts picture_likes">
        {{likes_count}}
    </div>
    <div class="picture_counts picture_comments">
        {{comments_count}}
    </div>
</footer>